<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-list-header>Speed Unit</ion-list-header>
    <ion-select interface="alert" [interfaceOptions]="speedUnitAlertOptions" [(ngModel)]="speedUnit" (ionChange)="speedUnitUpdate()">
      <ion-select-option value="0">km/h</ion-select-option>
      <ion-select-option value="1">m/s</ion-select-option>
      <ion-select-option value="2">knt</ion-select-option>
    </ion-select>

    <ion-list-header>Distance Unit</ion-list-header>
    <ion-select interface="alert" [interfaceOptions]="distanceUnitAlertOptions" [(ngModel)]="distanceUnit" (ionChange)="distanceUnitUpdate($event)">
      <ion-select-option value="0">Kilometers</ion-select-option>
      <ion-select-option value="1">Meters</ion-select-option>
      <ion-select-option value="2">Sea Miles</ion-select-option>
    </ion-select>

    <ion-item>
      <ion-label>Map Preloading</ion-label>
      <ion-toggle [(ngModel)]="mapPreloading" (ionChange)="mapPreloadingUpdate($event)"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Keep Screen Awake</ion-label>
      <ion-toggle [(ngModel)]="keepAwake" (ionChange)="keepAwakeUpdate($event)"></ion-toggle>
    </ion-item>

    <ion-item></ion-item>

    <ion-item>
      <ion-note>App version: {{appVersion}}</ion-note>
    </ion-item>

  </ion-list>
</ion-content>