<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>{{ 'sidebar.settings' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>{{ 'settings.speedUnit' | translate }}</ion-list-header>
    <ion-select [(ngModel)]="speedUnit" (ionChange)="updateSpeedUnit()">
      <ion-select-option value="0">km/h</ion-select-option>
      <ion-select-option value="1">m/s</ion-select-option>
      <ion-select-option value="2">knt</ion-select-option>
    </ion-select>

    <ion-list-header>{{ 'settings.distanceUnit' | translate }}</ion-list-header>
    <ion-select [(ngModel)]="distanceUnit" (ionChange)="updateDistanceUnit()">
      <ion-select-option value="0">Kilometer</ion-select-option>
      <ion-select-option value="1">Meter</ion-select-option>
      <ion-select-option value="2">Sea Miles</ion-select-option>
    </ion-select>

    <ion-list-header>{{ 'settings.temperatureUnit' | translate }}</ion-list-header>
    <ion-select [(ngModel)]="temperatureUnit" (ionChange)="updateTemperatureUnit()">
      <ion-select-option value="0">Celsius</ion-select-option>
      <ion-select-option value="1">Fahrenheit</ion-select-option>
    </ion-select>

    <ion-list-header>{{ 'settings.language' | translate }}</ion-list-header>
    <ion-select [(ngModel)]="language" (ionChange)="updateLanguage()">
      <ion-select-option value="de">Deutsch</ion-select-option>
      <ion-select-option value="en">English</ion-select-option>
    </ion-select>

    <ion-item>
      <ion-label>{{ 'settings.mapPreloading' | translate }}</ion-label>
      <ion-range
        snaps="true"
        pin="true"
        min="0"
        max="10"
        [(ngModel)]="mapPreloading"
        (ionChange)="updateMapPreloading()"
      />
    </ion-item>

    <ion-item>
      <ion-label>{{ 'settings.keepScreenAwake' | translate }}</ion-label>
      <ion-toggle
        [(ngModel)]="keepAwake"
        (ionChange)="updateKeepAwake()"
      ></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'settings.animations' | translate }}</ion-label>
      <ion-toggle
        [(ngModel)]="animations"
        (ionChange)="updateAnimations()"
      ></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'settings.openWeatherMapApiKey' | translate }}</ion-label>
      <ion-input
        [(ngModel)]="openWeatherMapApiKey"
        (ionChange)="updateOpenWeatherMapApiKey()"
      ></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
