<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>{{ 'layersEdit.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="floating"
        >{{ 'layersEdit.name' | translate }}</ion-label
      >
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"
        >{{ 'layersEdit.url' | translate }}</ion-label
      >
      <ion-input type="text" [(ngModel)]="url"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button color="dark" (click)="closeModal()"
    >{{ 'layersEdit.cancel' | translate }}</ion-button
  >
  <ion-button color="primary" (click)="saveChanges()"
    >{{ 'layersEdit.save' | translate }}</ion-button
  >
</ion-content>
