<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group [(ngModel)]="speedUnit">
      <ion-list-header>
        <ion-label>Speed Unit</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>m/s</ion-label>
        <ion-radio slot="start" value="m/s"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>km/h</ion-label>
        <ion-radio slot="start" value="km/h"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>sm/h</ion-label>
        <ion-radio slot="start" value="sm/h"></ion-radio>
      </ion-item>
    </ion-radio-group>
    
    <ion-radio-group [(ngModel)]="distanceUnit">
      <ion-list-header>
        <ion-label>Distance Unit</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>m</ion-label>
        <ion-radio slot="start" value="m"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>km</ion-label>
        <ion-radio slot="start" value="km"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>sm</ion-label>
        <ion-radio slot="start" value="sm"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-item>
      <ion-label>Keep Screen Awake</ion-label>
      <ion-toggle slot="end" checked [(ngModel)]="keepAwake"></ion-toggle>
    </ion-item>
    
    <ion-radio-group [(ngModel)]="language">
      <ion-list-header>
        <ion-label>Language</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Deutsch</ion-label>
        <ion-radio slot="start" value="de"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>English</ion-label>
        <ion-radio slot="start" value="en"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
