<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Seamark Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <svg 
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:svg="http://www.w3.org/2000/svg"
    width="100%" 
    height="50%"
    viewBox="0 0 20 20">
    <rect 
      id="background"
      x="0.0"
      y="0.0"
      width="20.0"
      height="20.0"
      style="fill:#aad3df; fill-opacity:1;" />
    <ellipse 
      id="center"
      style="fill:#000; fill-opacity:1; stroke:#000; stroke-width:1.0; stroke-opacity:0.5" 
      cx="10.0"
      cy="10.0"
      rx="1.0"
      ry="1.0" />
    <g id="arcs">
      <path 
        *ngFor="let arc of arcs"
        [attr.d]="arc.d"
        [attr.stroke]="arc.colorCode"
        [attr.stroke-width]="arc === selectedArc ? 2 : 1"
        fill="none"
        (click)="showDetailsOfArc(arc)"
        onkeydown=""/>
    </g>
  </svg>

  <ion-list>
    <ion-item>
      <ion-label slot="start">Animation</ion-label>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Höhe</ion-label>
      <ion-label slot="end">{{ selectedArc?.height }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Reichweite</ion-label>
      <ion-label slot="end">{{ selectedArc?.range }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Farbe</ion-label>
      <ion-label slot="end">{{ selectedArc?.colorName }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Sequenz</ion-label>
      <ion-label slot="end">{{ selectedArc?.sequence }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Character</ion-label>
      <ion-label slot="end">{{ selectedArc?.character }}</ion-label>
      <ion-chip id="char-info" color="primary" slot="end">i</ion-chip>
    </ion-item>
    <ion-popover trigger="char-info" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">Hier koennte Ihre Werbung stehen</ion-content>
      </ng-template>
    </ion-popover>
  </ion-list>
</ion-content>
