<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Seamark Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="width: 100%; height: 50%;" [innerHTML]="svgContent" ></div>

  <ion-list>
    <ion-item>
      <ion-label slot="start">Animation</ion-label>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Höhe</ion-label>
      <ion-label slot="end">{{ height }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Reichweite</ion-label>
      <ion-label slot="end">{{ range }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Farbe</ion-label>
      <ion-label slot="end">{{ _color }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Sequenz</ion-label>
      <ion-label slot="end">{{ sequence }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Character</ion-label>
      <ion-label slot="end">{{ char }}</ion-label>
      <ion-chip id="char-info" color="primary">i</ion-chip>
    </ion-item>
    <ion-popover trigger="char-info" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">Hier koennte Ihre Werbung stehen</ion-content>
      </ng-template>
    </ion-popover>
  </ion-list>
</ion-content>
