<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Map Layers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-reorder-group disabled="false" (ionItemReorder)="onReorder($event)">
    <ion-item *ngFor="let m of maps; let i = index">
      <ion-label>
        {{ m.name }} <small>({{ m.type }})</small>
      </ion-label>
      <ion-reorder slot="start"></ion-reorder>
      <ion-toggle color="primary" slot="end" [attr.checked]="m.enabled" (ionChange)="toggleMapStatus($event, i)"></ion-toggle>
    </ion-item>
  </ion-reorder-group>
  
</ion-content>
