<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{toolbarTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map"></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">

    <ion-fab-button id="fabFollow" size="small" (click)="fabFollow($event)">
      <ion-icon name="locate"></ion-icon>
    </ion-fab-button>

    <ion-fab-button id="fabRecord" size="small" (click)="fabRecord($event)">
      <ion-icon name="recording-outline"></ion-icon>
    </ion-fab-button>

  </ion-fab>
</ion-content>