<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Carta Nautica</ion-list-header>
          <ion-note></ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" button (click)="click('map-layers')">
              <ion-icon slot="start" name="layers-sharp"></ion-icon>
              <ion-label>Map Layers</ion-label>
            </ion-item>

            <ion-item  button (click)="click('tracks')">
              <ion-icon slot="start" name="analytics-sharp"></ion-icon>
              <ion-label>Tracks</ion-label>
            </ion-item>

            <ion-item lines="none" button (click)="click('settings')">
              <ion-icon slot="start" name="settings-sharp"></ion-icon>
              <ion-label>Settings</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>