<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Carta Nautica</ion-list-header>
          <ion-note></ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let m of modals">

            <ion-item lines="none" button (click)="showModal(m.page)">
              <ion-icon slot="start" name="{{m.icon}}-sharp"></ion-icon>
              <ion-label>{{m.title}}</ion-label>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>