<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Layer Sources</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-toolbar>
    <ion-segment value="online">
      <ion-segment-button value="online" (click)="show('tab-online')">
        Online
      </ion-segment-button>

      <ion-segment-button value="offline" (click)="show('tab-offline')">
        Offline
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div class="tabs tab-online">

    <ion-list>
      <ion-item-sliding *ngFor="let m of mapsOnline">
        <ion-item >
          {{ m.name }}
        </ion-item>
  
        <ion-item-options side="start">
          <ion-item-option (click)="editOnlineMap(m)">Edit</ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
          <ion-item-option (click)="deleteMap(m)">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button id="fabAdd" size="small" (click)="fabAddOnline($event)">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <div class="tabs tab-offline" hidden>
    
    <ion-list>
      <ion-item-sliding *ngFor="let m of mapsOffline">
        <ion-item>
          {{ m.name }}
    
          <ion-item-options side="start">
            <ion-item-option (click)="editOfflineMap(m)">Edit</ion-item-option>
          </ion-item-options>
          <ion-item-options side="end">
            <ion-item-option (click)="deleteMap(m)">Delete</ion-item-option>
          </ion-item-options>
        </ion-item>
      </ion-item-sliding>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button id="fabAdd" size="small" (click)="fabAddOffline($event)">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  
</ion-content>